<div class="container">

  <div class="row">

    <!-- About Widget -->
    <div class="col-sm-3">
      {{ partial "about.html" . }}
    </div>

    <!-- Contacts Widget -->
    <div class="col-sm-3">
      {{ partial "contact.html" . }}
    </div>
    <!-- /Contacts Widget -->

    <!-- Flickr Widget -->
    <div class="col-sm-3">
      {{ partial "flickr.html" . }}
    </div>
    <!-- /Flickr Widget -->

    <!-- Follow Us Widget -->
    <div class="col-sm-3">
      {{ partial "follow.html" . }}
    </div>
    <!-- /Follow Us Widget -->

  </div>
</div>

