<div class="container">
  <div id="page-title">
    <div class="page-title-details">
      <h1 class="font-accident-one fontcolor-invert">{{ .Title }}</h1>
      <h4 class="font-accident-one-light fontcolor-invert">{{ .Description }}</h4>
      <!--<ul>
        {{ with .Site.Params.sections }}
        <li><a href="{{ .home.href }}">{{ .home.title }}</a>&nbsp;&nbsp;&nbsp;/</li>
        <li><a href="{{ .blog.href }}">{{ .blog.title }}</a>&nbsp;&nbsp;&nbsp;/</li>
        {{ end }}
        <li>{{ .Title }}</li>
      </ul>-->
    </div>
  </div>
</div>
